@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("/fonts.css");

body,
html {
  font-family: Helvetica-Medium, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  font-weight: 500;
  letter-spacing: -2px;
}

h2 {
  letter-spacing: -2px;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  letter-spacing: -2px;
}

h4 {
  height: 0.9em;

}

p {
  font-weight: 200;
  word-spacing: -1px;
}

button {
  font-weight: 400;
}
